<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team</h1>
  <form method="POST" action="/newteam">
    <p>Team Name:<input type="text" name="name"></p>
    <p>Coach:<input type="text" name="coach"></p>
    <p>Point Guard:<input type="text name="pointGuard""></p>
    <p>Shooting Guard:<input type="text" name="shootingGuard"></p>
    <p>Small Forward:<input type="text" name="smallForward"></p>
    <p>Power Forward:<input type="text" name="powerForward"></p>
    <p>Center:<input type="text" name="center"></p>
    <input type="submit">
  </form>
 </head>
 <body>
 </body>
</html>
